<div
  class="p-2 rounded-md shadow-md bg-slate-100 w-[10rem] sm:w-[12rem] md:w-[250px] md:h-[385px]"
>
  <div class="flex justify-end gap-2">
    <button
      class="rounded-full w-[30px] h-[30px] bg-amber-200 hover:bg-amber-500 text-amber-500 hover:text-slate-100"
      (click)="handleEditProduct()"
    >
      <ng-icon name="bootstrapPencil" size="16px"></ng-icon>
    </button>
    <button
      class="rounded-full bg-red-200 w-[30px] h-[30px] hover:bg-red-500 text-red-500 hover:text-white transition ease-in duration-100"
      (click)="handleDeleteProduct()"
    >
      <ng-icon name="bootstrapTrash" size="16px"></ng-icon>
    </button>
  </div>
  <figure class="h-[100px] sm:h-[180px] w-full">
    <img
      alt="product image basics"
      [src]="img"
      class="object-contain w-full h-full"
    />
  </figure>
  <div class="mt-5 min-h-[60px]">
    <p
      [title]="title"
      class="text-xs md:text-sm font-bold text-gray-600 m-0 line-clamp-2 max-w-[300px]"
    >
      {{ title }}
    </p>
  </div>
  <div class="flex justify-between items-center">
    <p class="text-sm text-gray-600 m-0">
      {{ price | currency: 'USD' : 'symbol' }}
    </p>
    <button
      class="rounded-full bg-green-200 text-green-600 font-bold w-[4rem] text-center hover:bg-green-400 hover:text-slate-50"
      (click)="handleOpenProductDetail()"
    >
      <span class="text-xs">Ver más</span>
    </button>
  </div>
  <div>
    <span class="text-sm text-gray-600 m-0"> IGV: {{ tax | currency }} </span>
  </div>
  <div class="mt-4">
    <button
      class="text-xs md:text-sm w-full p-2 rounded-md bg-green-500 text-[#fffffe] hover:bg-green-400 hover:text-slate-50"
      (click)="handleSelectProduct()"
    >
      Add to cart
    </button>
  </div>
</div>
