<section>
  <section
    class="p-5 grid w-full grid-rows-3 grid-cols-2 sm:grid-cols-2 md:grid-cols-4 gap-10 justify-items-center relative"
  >
    <app-product-detail
      *ngIf="detailVisible && productDetail"
      [title]="productDetail.title"
      [description]="productDetail.description"
      [price]="productDetail.price"
      [image]="productDetail.images[0]"
      [category]="productDetail.category.name"
      class="absolute top-0 right-0"
      (closeDetail)="handleCloseDetail()"
    />

    <app-product-card
      *ngFor="let product of products"
      [title]="product.title"
      [price]="product.price"
      [img]="product.images[0]"
      [tax]="product.taxes || 0"
      (productSelected)="onProductSelected(product)"
      (productDetail)="handleOpenProductDetail(product)"
      (deleteProduct)="handleDeleteProduct(product.id)"
      (editProduct)="handleEditProduct(product.id)"
    />
  </section>
  <div class="w-full flex justify-end p-3 gap-3">
    <div
      *ngFor="let num of [1, 2, 3, 4]"
      class="p-2 rounded-md"
      [ngClass]="{ 'bg-green-700 text-white': currentPage === num }"
    >
      <button (click)="handlePageChange(num)">{{ num }}</button>
    </div>
  </div>
</section>
